<% include ./../layout\admin\adminlayoutheader%>
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/admin">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Overview</li>
</ol>
<!-- Icon Cards-->
<div class="row">
    <div class="col-xl-4 col-sm-4 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-flask"></i>
                </div>
                <div class="mr-5">
                    <%=product.length%> Products!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="/product">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-4 col-sm-4 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-cogs"></i>
                </div>
                <div class="mr-5">
                    <%=category.length%> Category!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="/category">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
    <div class="col-xl-4 col-sm-4 mb-3">
        <div class="card text-white bg-success o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-fw fa-users-cog"></i>
                </div>
                <div class="mr-5">
                    <%=userAll.length%> Users!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="/admin/userList">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
</div>

<!-- Area Chart Example
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-chart-area"></i> Area Chart Example</div>
    <div class="card-body">
        <canvas id="myAreaChart" width="100%" height="30"></canvas>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div> -->

<!-- DataTables for Product -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i> Product Tables</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product Name</th>
                        <th>Price (NRs.)</th>
                        <th>Category</th>
                        <th>Date Added</th>
                        <th>Option</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Product Name</th>
                        <th>Price (NRs.)</th>
                        <th>Category</th>
                        <th>Date Added</th>
                        <th>Option</th>
                    </tr>
                </tfoot>
                <tbody>
                    <%product.forEach(prod => {%>
                    <tr>
                        <td>
                            <%=prod.id%>
                        </td>
                        <td>
                            <%=prod.name%>
                        </td>
                        <td>
                            <%=prod.price%>
                        </td>
                        <td>
                            <%=prod.categoryID%>
                        </td>
                        <td>
                            <%=prod.fdoa%>
                        </td>
                    </tr>
                    <%});%>
                </tbody>

            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">
        <%=Date()%>
    </div>
</div>


<!-- DataTables of Category -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i> Category Tables</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Category Name</th>
                        <th>Description</th>
                        <th>Option</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Category Name</th>
                        <th>Description</th>
                        <th>Option</th>
                    </tr>
                </tfoot>
                <tbody>
                    <%category.forEach(cate => {%>
                    <tr>
                        <td>
                            <%=cate.id%>
                        </td>
                        <td>
                            <%=cate.name%>
                        </td>
                        <td>
                            <%=cate.description%>
                        </td>

                    </tr>
                    <%});%>
                </tbody>

            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">
        <%=Date()%>
    </div>
</div>
<% include ./../layout/admin/adminlayoutfooter%>