<div class="card-header">
    <div class="row">
        <div class="col-6">
        </div>
        <div class="col-6">
            <div class="form-inline align-items-end" style="float: right;">
                <select id="sortby" onchange="ajax(value)" class="custom-select my-1 mr-sm-2">
                    <option value="none">Sort by...</option>
                    <option value="alpha">Alphabetical</option>
                    <option value="price">price</option>
                    <option value="category">Category</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <%if(gProduct.length !=0){%>
    <%let max =0%>
    <% gProduct.forEach(prod=>{%>
    <%if(max == 30){%>
    <%return;}%>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-auto mb-4">
        <div class="card h-80 w-80 card-product" style="cursor: pointer;"
            onclick="window.location='/product/<%=prod.id%>';return false;">
            <div class="row">
                <div class="card-img col-3">
                    <img class="card-img-overlay display-zoom" src="/product_images/<%=prod.id%>/default.jpg"
                        height="100" alt="">
                </div>
                <div class=" card-body text-center col-9">
                    <h5 class="card-title ">
                        <a href="/product/<%=prod.id%>">
                            <%=prod.name%>
                        </a>
                    </h5>
                    <h6>Rs.
                        <%= prod.price%>
                    </h6>
                </div>
            </div>
            <div class="card-footer bg-primary">
                <i class="fa fa-cart-arrow-down " style="color:white"></i>
                <a href="/product/<%=prod.id%>"><i class="fa fa-share" style="color:white;float: right"></i></a>
                <small style="color: aliceblue;"><%=prod.fdoa%></small>
            </div>
        </div>
    </div>
    <%max++%>
    <%} )}else{%>
    <div class="align-items-center text-center">
        <h3 class="text-center">There is no Product in this Category.</h3>
        <h4 class="text-center"><a href="/product/add" style="color: white">Add
                Product</a></h4>
    </div>
    <%}%>
</%}%>
</div>