<% include ./../layout\admin\adminlayoutheader%>
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/admin">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Category</li>
</ol>

<div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-xl-6">
        <!--Table col-->
        <div class="card card-body text-center" id="categoryTable">
            <a class="card-header" href="/category/add">New Category</a>
            <!-- <h2 class="page-title ">Category List <a href=" /category " class="btn btn-primary col-md-4">Add New Product</a></h2> -->
            <% include ./../pagePartials/table/categoryTablepartials%>
        </div>
    </div>

    <!--Form col-->
    <div class="col-12 col-sm-6 col-md-6 col-xl-6">
        <div class="card">
            <div class="card-header">
                <div style="display: inline" class="text-center">
                    <h3 class="d-inlin text-centere">Category Detail
                    </h3>
                </div>
            </div>
            <div class="card-body">
                <form id="detailForm" 
                action= "<%=(typeof btnstatus !="undefined")?`/category/edit/${category.id}`:`/category/add`%>"
                 method="POST" data-id="">
                    <div class="form-group">
                        <label>Name*</label>
                        <input type="text" name="name" id="name" class="form-control" value="<%= (typeof category !="undefined")?category.name:''%>" required>
                    </div>

                    <div class="form-group">
                        <label>Description*</label>
                        <textarea name="description" id="description" class="form-control" required><%=(typeof category !="undefined")?category.description:''%></textarea>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="checknew">
                        <label class="form-check-label" for="checknew">Create New Category</label>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 mx-auto">
                            <button type="submit" class="btn btn-primary"  id="btnSubmit" 
                            <%=(typeof category !="undefined")?'':'disabled'%>>                        
                            <%=(typeof category !="undefined")?(category.status == 'edit')?'Update':'Delete':''%>
                        
                        </button>
                        </div>
                        <div class="col-md-3 col-sm-3 mx-auto">
                            <button type="button" class="btn btn-success"  id="btnReset" <%=(typeof category !="undefined")?'':'disabled'%>>Reset</button>
                        </div>
                    </div>
                </form>
                <br>
            </div>
        </div>
    </div>
</div>

<script src="/js/category.js"></script>
<% include ./../layout/admin/adminlayoutfooter%>